@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body {
    @apply bg-light-00dp dark:bg-dark-00dp text-dark-00dp dark:text-light-01dp;
  }

  header p {
    @apply text-xl;
  }

  header {
    @apply py-12;
  } */

  body {
    @apply font-body;
  }

  img {
    @apply max-w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-extrabold;
  }

  h1 {
    @apply text-4xl;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.mainContainer {
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(100px, 1300px) minmax(
      1.5rem,
      1fr
    );
}

.mainContainer > div {
  grid-column-start: 2;
  grid-column-end: 3;
}

.stickyFooter {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
